<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<!--        <div>TODO write content</div>-->
<form th:object="${employee}" th:action="@{save}" method="POST">
    Id : <input type="text" th:field="*{id}"/>
    <br/>
    Name : <input type="text" th:field="*{name}"/>
    <br/>
    Department : <input type="text" th:field="*{department}"/>
    <br/>
    <input type="submit" value="Save" name="Save"/>
</form>
    <table border="1">
        <thead>
        <tr>
            <th>Employee Id</th>
            <th>Employee Name</th>
            <th>Department Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="as : ${employees}">
            <td th:text="${as.id}"></td>
            <td th:text="${as.name}"></td>
            <td th:text="${as.department.name}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>